<div style="padding:5%">
    <div class="alert alert-success" role="alert">
        {{# if EnteredValue }}
            {{{ heading }}}
            <hr>
            {{# if dataInsert }}
                <ol>
                  <li><p>Name : {{ dataInsert.name }}</p></li>
                  <li><p>Age : {{ dataInsert.age }}</p></li>
                </ol>
            {{/if}}
        {{/if}}

        {{# if RegistrationIsCorrect }}
            <h4 class="alert-heading">{{ heading }}</h4>
            <hr>
            {{# if dataInsert }}
                <ol>
                    <li><p>Name : {{ dataInsert.name }}</p></li>
                    <li><p>Email : {{ dataInsert.email }}</p></li>
                    <li><p>Password-1 : {{ dataInsert.password1 }}</p></li>
                    <li><p>Password-2 : {{ dataInsert.password2 }}</p></li>
                    <li><p>Address-1 : {{ dataInsert.address1 }}</p></li>
                    <li><p>Address-2 : {{ dataInsert.address2 }}</p></li>
                    <li><p>City : {{ dataInsert.city }}</p></li>
                    <li><p>State : {{ dataInsert.state }}</p></li>
                    <li><p>Zip : {{ dataInsert.zip }}</p></li>
                    <li><p>CheckMEOut : {{ dataInsert.checkMeOut }}</p></li>
                </ol>
            {{/if}}
        {{/if}}
    </div>
    <a href="/" class="btn btn-primary">Back</a>
</div>
